.master-wrapper {
    margin-top: 20px;
    font-family: Monaco, sans-serif;
}

.title-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.page-wrapper {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    background-color: #e3f2fd;
    width: 90%;
    min-height: 500px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#title-text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background-color: #e3f2fd;
    font-size: 17px;
}